<h1>{{info}}</h1>

<form>
    <div class="form-group">
        <label for="inputEmail">Email:</label>
        <input type="email" ng-model="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Email:</label>
        <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputPassword2">Repeat email:</label>
        <input type="password" ng-model="password" class="form-control" id="inputPassword2" placeholder="Repeat password">
    </div>

    <button type="submit" ng-click="createUser()" class="btn btn-default">Create User</button>
</form>