<div>
    <div class="page-header">
        <h1>Learn!</h1>
    </div>

    <div class="container text-center" ng-if="page == 'select games mode'">
        <div class="col-md-6">

        <div class="row text-center">
            <button ng-class="gameConfiguration.getHideType('hideSecond')" ng-click="gameConfiguration.setHideType('hideSecond')">
                Hide second
            </button>
            <button ng-class="gameConfiguration.getHideType('hideFirst')" ng-click="gameConfiguration.setHideType('hideFirst')">
                Hide first
            </button>
            <button ng-class="gameConfiguration.getHideType('mixed')" ng-click="gameConfiguration.setHideType('mixed')">
                Mixed
            </button>
        </div>

        <span>
            <h3>Select category:</h3>
            <input type="text">
        </span>

        <span>
            <h3>Number of words:{{gameConfiguration.numberOfWords}}</h3>
            <input type="range" min="5" max="{{allWordsNumber}}" ng-model="gameConfiguration.numberOfWords"
                   ng-model-options="{ getterSetter: true }">
        </span>


            <h3>Select mode:{{mode.getHideType()}}</h3>
            <div class="row text-center">

                <button ng-class="selectButton.getClass('last')" ng-click="mode.setModeGame('last')">
                    Last
                </button>

                <button ng-class="selectButton.getClass('all')" ng-click="mode.setModeGame('all')">
                    All
                </button>

                <button ng-class="selectButton.getClass('random')" ng-click="mode.setModeGame('random')">
                    Random queue
                </button>

                <button ng-class="selectButton.getClass('raiting')" ng-click="mode.setModeGame('raiting')">
                    Bad raiting
                </button>

                <button ng-class="selectButton.getClass('wonder')" ng-click="mode.setModeGame('wonder')">
                    much longer wonder
                </button>

            </div>
            <div>
                <button class="btn btn-success btn-lg" ng-click="startGame()">
                    Start
                </button>
            </div>
        </div>
        <div class="col-md-6">
            img
        </div>
    </div>

    <div ng-if="page == 'running game'">
        <div class="container text-center">
            <game-window id="gameBtn"></game-window>
        </div>

    </div>

</div>