<div>
    <div class="page-header">
        <h1>List of your words:</h1>
    </div>
    <div>
        <a href="#/add_word" class="btn btn-success">Add new word</a>
        <a href="#/add_category" class="btn btn-success">Add new category</a>
    </div>
    <div class="panel panel-default">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>First:</th>
                <th>Second:</th>
                <th>Date added:</th>
                <th>Refresh:</th>
                <th>Operations:</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="word in words">
                <td>{{$index+1}}</td>
                <td>{{word.first}}</td>
                <td>{{word.second}}</td>
                <td>{{word.data_added | date:'dd-MM-yyyy'}}</td>
                <td>{{word.refresh}}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="#/edit_word/{{$index}}" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" ng-click="deleteWord($index)" role="button">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


</div>