<div>
    <div class="form-horizontal">
        <button ng-click="managerModel.setWordState()"
                ng-class="{'btn btn-success': managerModel.isWordState(), 'btn btn-default': !managerModel.isWordState()}">List of words</button>
        <button ng-click="managerModel.setCategoryState()"
                ng-class="{'btn btn-success': managerModel.isCategoryState(), 'btn btn-default': !managerModel.isCategoryState()}">List of categories</button>
    </div>

    <div ng-if="managerModel.isWordState()">
        <div class="page-header">
            <h1>List of your words:</h1>
        </div>
        <div>
            <a href="#/add_word" class="btn btn-success">Add new word</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>First:</th>
                    <th>Second:</th>
                    <th>Category:</th>
                    <th>Remember time:</th>
                    <th>Date added:</th>
                    <th>Raiting:</th>
                    <th>Elapsed time:</th>
                    <th>Operations:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="word in words">
                    <td>{{$index+1}}</td>
                    <td>{{word.first}}</td>
                    <td>{{word.second}}</td>
                    <td>{{word.category}}</td>
                    <td>{{word.elapsedTime / word.refresh | date:'ss:sss'}}</td>
                    <td>{{word.data_added | date:'dd-MM-yyyy'}}</td>
                    <td>{{word.refresh}}</td>
                    <td>{{word.elapsedTime | date:'mm:ss:sss'}}</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="#/edit_word/{{$index}}" role="button">Edit</a>
                        <a class="btn btn-danger btn-sm" ng-click="deleteWord($index)" role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="managerModel.isCategoryState()">
        <div class="page-header">
            <h1>List of your categories:</h1>
        </div>
        <div>
            <a href="#/add_category" class="btn btn-success">Add new category</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Name:</th>
                    <th>Operations:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in categories">
                    <td>{{$index+1}}</td>
                    <td>{{category.categoryName}}</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="#/edit_category/{{$index}}" role="button">Edit</a>
                        <a class="btn btn-danger btn-sm" ng-click="deleteCategory($index)" role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>